.address {
  display: flex;
  align-items: center;
}

.address__icon {
  width: 24px;
  height: 24px;
  fill: none;
}

.address__text {
  color: $text-header;
  margin: 0;
  font-style: normal;
}

@media (max-width: $width-tablet - 1) {
  .address {
    display: none;
  }
}
