@font-face {
  font-family: "PT Root UI";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptrootuiregular.woff2") format("woff2"), url("../fonts/ptrootuiregular.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptrootuimedium.woff2") format("woff2"), url("../fonts/ptrootuimedium.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptrootuibold.woff2") format("woff2"), url("../fonts/ptrootuibold.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/merriweatheritalic.woff2") format("woff2"), url("../fonts/merriweatheritalic.woff") format("woff");
}
