// Fonts
$font-default: "PT Root UI", "Arial", sans-serif;
$font-additional: "Merriweather", "Arial", sans-serif;

// Colors: Text colors
$text-header: #ffffff;
$text-default: #393939;
$text-additional: #727272;
$text-input: #b2b2b2;
$text-decorative: #26b99a;
$text-date: #aeaeae;
$text-breadcrumbs: #a7a7a7;
$text-button: #ffffff;
$text-inverse: #ffffff;
$text-menu: #7d7d7d;

// Colors: Buttons colors
$button-default: #26b99a;
$button-default-hover: #22a68a;
$button-default-active: #1e947b;
$button-close: #ff8f8f;
$button-close-active: #cc7272;
$button-show-mobile: #eef8f6;

// Colors: Backgrounds colors
$background-default: #ffffff;
$background-additional: #135446;
$background-header: #353535;
$background-list: #c4c4c4;
$background-decorative: #26b99a;
$background-map: #f7f0e7;
$background-filter: #0b0b0b;
$background-telegram: #039be5;
$background-telegram-active: #027cb7;
$background-whatsapp: #7ad06d;
$background-whatsapp-active: #61a657;
$background-recall: #aa5bc6;
$background-recall-active: #88489e;
$background-call: #e31e24;
$background-call-active: #b5181c;
$background-dots: #f2f2f2;

// Colors: Border color
$border-default: #efefef;
$border-more: #eff5f4;
$border-decorative: #26b99a;
$border-review: #d6d6d6;

// Media width
$width-desktop: 1380px;
$width-tablet: 768px;
$width-mobile: 320px;

// Device resolution
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
